* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color: black;
    --element-color: white;
    font-family: Nunito;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --background-color: hsla(208, 27%, 14%, 0.841);
    --text-color: white;
    --element-color: hsl(209, 23%, 22%);

}

header {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration-line: none;
    color: black;
    color: var(--text-color);
}

.header-content {
    padding: 20px;
    margin-inline: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content p{
    cursor: pointer;
}

main {
    margin-top: 50px;
    margin-inline: auto;
    max-width: 1200px;
    background-color: var(--background-color);  
    padding-inline: 24px;
}

.search-fun input {
    border: none;
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 400px;
    padding: 18px 35px;
}

.selectfilter select {
    border: none;
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 12px 20px
}

.search-fun i {

    font-size: 20px;
    position: absolute;
    margin: 14px 10px
}

.search-fun i::placeholder {
    color: gray;
}

.search-filter-container {
    margin-bottom: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.countries-container {
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: var(--background-color);

}

.country-card {
    display: inline-block;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 8px;
    width: 250px;
    height: 370px;
    cursor: pointer;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: var(--element-color);
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);

}

.country-card img {
    margin-bottom: 8px;
    max-width: 100%;
    height: 170px;
}

.country-card h3 {
    margin-bottom: 10px;
}

.country-card p {
    margin-bottom: 5px;
}

.cardtxt {
    padding: 15px 25px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}


@media(max-width:650px) {
    .countries-container {
        max-width: 350px;
        margin-inline: auto;


        flex-wrap: wrap;
        gap: 24px;
    }

    .country-card {

        width: 500px;
        padding-bottom: 20px;

    }

    .country-card img {
        width: 100%;
    }

    .search-filter-container {
        flex-direction: column;
        gap: 25px;
    }

    .search-fun input {

        max-width: 400px;
        width: 100%;
        padding: 18px 35px;
    }

}